@model taghelpersuygulama.TagHelpers.Uyum
@{
    ViewData["Title"] = "Privacy Policy";
}
@addTagHelper *, taghelpersuygulama
<h1>@ViewData["Title"]</h1>

<div>
    <google></google> <br />
    <sayi sayim="3"></sayi>
    <uyum cumle="@Model.Cumle"></uyum>
</div>